<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%=gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <%= label f, :discount_code, gettext "Discount Code" %>
  <%= text_input f, :discount_code %>
  <%= error_tag f, :discount_code %>

  <div>
    <%= submit gettext("Apply") %>
  </div>
<% end %>